extends layout

block content
    ui-slides
        ui-slide.splash(vcenter="true", center="true")
            img(src="http://placehold.it/383x92")

        ui-slide(type="title")
            hgroup
                h1 RessDriven WebPonents
                h2 Responsive Web Design + Server Side Web Components
                div
                    p Filipe Araujo
                    p Senior Lead Consultant, Sungard
                    p Gotham JS 2013

        ui-slide.topics(backdrop="false", background="false", items="li", items-fx="fade")
            article
                ul
                    li
                        img(src="http://placehold.it/200x200")
                        span Responsive Design
                    li
                        img(src="http://placehold.it/200x200")
                        span RESS
                    li
                        img(src="http://placehold.it/200x200")
                        span Web Components
                    li
                        img(src="http://placehold.it/200x200")
                        span Now what?

        ui-slide.topics(backdrop="false", background="false", items="li.scale")
            article
                ul
                    li.scale
                        img(src="http://placehold.it/200x200")
                        span Responsive Design
                    li.faded
                        img(src="http://placehold.it/200x200")
                        span RESS
                    li.faded
                        img(src="http://placehold.it/200x200")
                        span Web Components
                    li.faded
                        img(src="http://placehold.it/200x200")
                        span Now what?

        ui-slide(notes=".note")
            hgroup
                h3 What is Responsive Design
            article
                span.note mention ethan marcot - spelling?
                ul
                    li media queries
                    li flexible layouts
                    li flexible media (images &amp; video)
                    li scalable typography
                    li
                        | content choreography
                        span.note Your DOM order is your definitive order. Build for this order first before addressing content choreography concerns. - Jordan Moore
                    li feature detection
                    li feature omission


        ui-slide
            hgroup
                h3 Responsive Design is hard!
            article
                | endless device/browse matrix
                | mention the paradigm of building for a specific width and how it doesnt scale, tie it into

        ui-slide
            hgroup
                h3 What's New in Responsive Design
            article
                | contents

        ui-slide
            hgroup
                h3 Viewport percentage unit
            article
                p vw, vh, vmin, vmax
                ul
                    li units are based on vieport size
                a(href="http://responsivility.aws.af.cm/?q=http://localhost:3001") demo

         ui-slide.topics(backdrop="false", background="false", items="li.scale")
            article
                ul
                    li.faded
                        img(src="http://placehold.it/200x200")
                        span Responsive Design
                    li.scale
                        img(src="http://placehold.it/200x200")
                        span RESS
                    li.faded
                        img(src="http://placehold.it/200x200")
                        span Web Components
                    li.faded
                        img(src="http://placehold.it/200x200")
                        span Now what?

        ui-slide
            hgroup
                h3 What is RESS
            article
                | contents

        ui-slide
            article
                | feature detection

        ui-slide
            article
                | polyfilling

        ui-slide
            article
                | example of webp


        ui-slide.topics(backdrop="false", background="false", items="li.scale")
            article
                ul
                    li.faded
                        img(src="http://placehold.it/200x200")
                        span Responsive Design
                    li.faded
                        img(src="http://placehold.it/200x200")
                        span RESS
                    li.scale
                        img(src="http://placehold.it/200x200")
                        span Web Components
                    li.faded
                        img(src="http://placehold.it/200x200")
                        span Now what?

        ui-slide
            hgroup
                h3 Web Components
            article
                | contents
                ui-code(language="javascript")
                    | var x = 'x';

        ui-slide
            hgroup
                h3 HTML Templates
                h4 Web Components
            article
                | contents

                div.slide-footer
                    ul.browsers
                        li.icon-firefox
                            span 22
                        li.icon-safari
                        li.icon-chrome
                        li.icon-opera
                            span 15
                        li.icon-IE.unsupported

        ui-slide
            hgroup
                h3 Shadow DOM
                h4 Web Components
            article
                | contents

                div.slide-footer
                    ul.browsers
                        li.icon-firefox.unsupported
                        li.icon-safari.unsupported
                        li.icon-chrome
                        li.icon-opera
                            span 15
                        li.icon-IE.unsupported

        ui-slide
            hgroup
                h3 Custom Elements
                h4 Web Components
            article
                | contents

                div.slide-footer
                    ul.browsers
                        li.icon-firefox
                        li.icon-safari.unsupported
                        li.icon-chrome
                        li.icon-opera
                            span 15
                        li.icon-IE.unsupported

        ui-slide
            hgroup
                h3 HTML Imports
                h4 Web Components
            article
                | contents

                div.slide-footer
                    ul.browsers
                        li.icon-chrome.unsupported
                        li.icon-safari.unsupported
                        li.icon-opera.unsupported
                        li.icon-firefox.unsupported
                        li.icon-IE.unsupported


        ui-slide
            hgroup
                h3 Polymer Project
                h4 Web Components
            article
                | contents

        ui-slide.topics(backdrop="false", background="false", items="li.scale")
            article
                ul
                    li.faded
                        img(src="http://placehold.it/200x200")
                        span Responsive Design
                    li.faded
                        img(src="http://placehold.it/200x200")
                        span RESS
                    li.faded
                        img(src="http://placehold.it/200x200")
                        span Web Components
                    li.scale
                        img(src="http://placehold.it/200x200")
                        span Now what?

        ui-slide
            hgroup
                h3 ....
            article
                | contents

        ui-slide
            hgroup
                h3 ....
            article
                | thank you