extends layout

block content
    ui-slides
        ui-slide.splash(vcenter="true", center="true")
            img(data-src="http://placehold.it/383x92")

        ui-slide.title
            hgroup
                h1 RessDriven WebPonents
                h2 Responsive Web Design + Server Side Web Components
                div
                    p Filipe Araujo
                    p Senior Lead Consultant, Sungard
                    p Gotham JS 2013

        ui-slide.topics(backdrop="false", background="false", items="li", items-fx="fade")
            article
                ul
                    li
                        img(data-src="http://placehold.it/200x200")
                        span Responsive Design
                    li
                        img(data-src="http://placehold.it/200x200")
                        span RESS
                    li
                        img(data-src="http://placehold.it/200x200")
                        span Web Components
                    li
                        img(data-src="http://placehold.it/200x200")
                        span Now what?

        ui-slide.topics(backdrop="false", background="false", items="li.scale")
            article
                ul
                    li.scale
                        img(data-src="http://placehold.it/200x200")
                        span Responsive Design
                    li.faded
                        img(data-src="http://placehold.it/200x200")
                        span RESS
                    li.faded
                        img(data-src="http://placehold.it/200x200")
                        span Web Components
                    li.faded
                        img(data-src="http://placehold.it/200x200")
                        span Now what?

        ui-slide.responsive(notes=".note")
            hgroup
                h3 Responsive Design
                    span 2010
            article
                img(data-src="images/responsive-web.png", title="Responsive Web")
                blockquote
                    p
                        | "
                        b Flexible grid layout
                        |  with
                        b  flexible images
                        |  that incorporates
                        b  media queries
                        |  to create a responsive, adaptive layout."
                    footer
                        p  - Ethan Marcotte

                p.note
                    | Base on print paradigms

        ui-slide.responsive-now(notes=".note", items=".item, .item2, .item3")
            hgroup
                h3 Responsive Design
                    span.item2 NOW
            article
                ul.list
                    li.item media queries
                    li.item flexible layouts
                    li.item3.flexible
                        span.item flexible images
                        span.item2.orange  &amp; video
                        span.hidden.orange flexible media
                    li.item3.orange scalable typography
                    li.item3.orange
                        | content choreography
                        span.note Your DOM order is your definitive order. Build for this order first before addressing content choreography concerns. - Jordan Moore
                    li.item3.orange feature detection
                    li.item3.orange feature omission
                footer


        ui-slide(notes=".note", items=".item")
            hgroup
                h3 Responsive Design
                    span IS HARD!
            article
                ul.list
                    li.item endless browser/device matrix
                    li.item device labs can be expensive
                    li.item delays in browser implementation
                    li.item delays in standardization
                    li.item non-evergreen browsers
                footer


        ui-slide.responsive-easier(items="li")
            hgroup
                h3 Responsive Design
                    span IS GETTING EASIER!
            article
                ul.list
                    li viewport units -
                        span  vh, vw, vmin, vmax
                    li flexbox
                    li grid layouts
                    li touch standardization
                    li advanced media queries -
                        span  pointer, luminosity
                    li css feature detection -
                        span  @supports
                    li new design paradigm -
                        span  offcanvas layouts
                footer

         ui-slide.topics(backdrop="false", background="false", items="li.scale")
            article
                ul
                    li.faded
                        img(data-src="http://placehold.it/200x200")
                        span Responsive Design
                    li.scale
                        img(data-src="http://placehold.it/200x200")
                        span RESS
                    li.faded
                        img(data-src="http://placehold.it/200x200")
                        span Web Components
                    li.faded
                        img(data-src="http://placehold.it/200x200")
                        span Now what?

        ui-slide.responsive.ress(notes=".note")
            hgroup
                h3 Responsive Design + Server-Side Components
                    span RESS
            article
                img(data-src="images/mobile-first.png", title="Mobile First")

                p
                    | "RESS combines
                    b  adaptive layouts
                    |  with
                    b  server side component
                    |  optimization. So a single set of page templates define an entire site for all devices but key components have device specific implementations rendered server side.
                p
                    span.quoter - Luke Wroblewski

                p.note
                    | Base on print paradigms


        ui-slide.responsive
            hgroup
                h3 RESS
                    span HOW IT WORKS
            article
                p analogy of a hotdog truck
                ul.list
                    li a client makes a request to the server
                    li other unique clients make simliar requests
                    li each client is tracked through a unique identifier
                    li the server requests a profile cookie
                    li if you dont have a cookie profile the
                    li the server tailors each request to each client
                footer

        ui-slide.ress-your-server(items="span")
            article
                img(data-src="/images/your-server.jpg", title="Your Server")

                div
                    span Server
                    span Wafel Concierge

        ui-slide.ress-similiar-requests(items="span")
            article
                img(data-src="/images/similiar-requests.jpg", title="Similiar Requests")
                h4
                    b similiar
                    |  yet
                    b  unique
                    |  requests

                span bacon
                    i  wafel

                span chilli
                    i wafel

                span chocolate
                    i wafel

                span Bananas
                    i wafel


        ui-slide.ress-not-what-it-seems
            article
                img(data-src="/images/not-what-it-seems.jpg", title="Not What It Seems")
                div
                p
                    span NOT
                    | WHAT IT SEEMS

        ui-slide.ress-sprinkle-magic(items="span")
            article
                img(data-src="/images/sprinkle-magic.jpg", title="Sprinkle Magic")
                h4 sprinkle on the magic!

                div
                    span polyfill
                    span feature adapt
                    span bundle resources
                    span cache

        ui-slide.ress-cookie
            article
                img(data-src="/images/cookie.jpg", title="Cookie")
                h4 cookies!
                    b  where?




        ui-slide.ress
            hgroup
                h3 RESS
                    span DEVICE PROFILE
            article
                iframe(data-src="http://devices.herokuapp.com/device", width="100%", height="100%")


        ui-slide.topics(backdrop="false", background="false", items="li.scale")
            article
                ul
                    li.faded
                        img(src="http://placehold.it/200x200")
                        span Responsive Design
                    li.faded
                        img(src="http://placehold.it/200x200")
                        span RESS
                    li.scale
                        img(src="http://placehold.it/200x200")
                        span Web Components
                    li.faded
                        img(src="http://placehold.it/200x200")
                        span Now what?

        ui-slide.components(items="li")
            hgroup
                h3 Web Components
            article
                ul.list
                    li HTML Templates
                    li Shadow DOM
                    li Custom Elements
                    li HTML Imports

        ui-slide.components(items=".list li")
            hgroup
                h3 Web Components
                    span HTML TEMPLATES
            article
                ui-code(title="html")
                    :code
                        <template>
                            <video width="320" height="240" controls>
                                <source src="demo.mp4" type="video/mp4">
                            </video>
                            <div class="comment"></div>
                        </template>
                ul.list
                    li hidden from DOM, can not be traversed
                    li parsed; not rendered
                    li scripts not run
                    li stylesheets and images not loaded
                    li media is not played

                footer
                    ul.browsers
                        li.icon-firefox
                            span 22
                        li.icon-safari
                        li.icon-chrome
                        li.icon-opera
                            span 15
                        li.icon-IE.unsupported

        ui-slide.components
            hgroup
                h3 Web Components
                    span SHADOW DOM
            article
                | contents

                footer
                    ul.browsers
                        li.icon-firefox.unsupported
                        li.icon-safari.unsupported
                        li.icon-chrome
                        li.icon-opera
                            span 15
                        li.icon-IE.unsupported

        ui-slide.components
            hgroup
                h3 Web Components
                    span CUSTOM ELEMENTS
            article
                | contents

                footer
                    ul.browsers
                        li.icon-firefox
                        li.icon-safari.unsupported
                        li.icon-chrome
                        li.icon-opera
                            span 15
                        li.icon-IE.unsupported

        ui-slide.components
            hgroup
                h3 Web Components
                    span HTML IMPORTS
            article
                | contents

                footer
                    ul.browsers
                        li.icon-chrome.unsupported
                        li.icon-safari.unsupported
                        li.icon-opera.unsupported
                        li.icon-firefox.unsupported
                        li.icon-IE.unsupported


        ui-slide.components
            hgroup
                h3 Web Components
                    span POLYMER PROJECT
            article
                iframe(data-src="http://www.polymer-project.org/", width="100%", height="100%")

        ui-slide.topics(backdrop="false", background="false", items="li.scale")
            article
                ul
                    li.faded
                        img(data-src="http://placehold.it/200x200")
                        span Responsive Design
                    li.faded
                        img(data-src="http://placehold.it/200x200")
                        span RESS
                    li.faded
                        img(data-src="http://placehold.it/200x200")
                        span Web Components
                    li.scale
                        img(data-src="http://placehold.it/200x200")
                        span Now what?

        ui-slide
            hgroup
                h3 ....
            article
                | contents

        ui-slide
            hgroup
                h3 ....
            article
                | thank you