<!DOCTYPE html>
<html>
    <head>
        <title>Slides Title</title>
        <link rel="stylesheet" href="/stylesheets/demo.css">
        <link rel="import" href="http://localhost:3000/components/presentation/slides">
        <link rel="import" href="http://localhost:3000/components/presentation/slide">
        <script src="http://localhost:3000/vendor/polymer/polymer.min.js"></script>
    </head>
    <body>

    <ui-slides>
        <ui-slide>
            <hgroup>
                <h2>My Slide Title</h2>
            </hgroup>
            <article>
                <img src="/images/pixel.jpg" alt="Pixel Image"/>
                <p>
                    Lorem ipsum Reprehenderit veniam ex ad quis dolore id veniam cupidatat ut ea adipisicing magna in consectetur ad velit nisi adipisicing consequat incididunt nostrud anim non culpa consectetur dolore.
                </p>
                <p>
                    Lorem ipsum Amet ullamco officia commodo pariatur velit nulla mollit ex aliqua reprehenderit aliquip adipisicing dolore in labore nisi nostrud laborum dolor quis in magna non dolore et ullamco incididunt qui nulla officia Excepteur consectetur minim eu ullamco dolor exercitation in.
                </p>
            </article>
        </ui-slide>

        <ui-slide>
            <hgroup>
                <h2>My Slide Title 2</h2>
            </hgroup>
            <article>
                <img src="/images/pixel.jpg" alt="Pixel Image"/>
                <p>
                    Lorem ipsum Amet ullamco officia commodo pariatur velit nulla mollit ex aliqua reprehenderit aliquip adipisicing dolore in labore nisi nostrud laborum dolor quis in magna non dolore et ullamco incididunt qui nulla officia Excepteur consectetur minim eu ullamco dolor exercitation in.
                </p>
                <p>
                    Lorem ipsum Amet ullamco officia commodo pariatur velit nulla mollit ex aliqua reprehenderit aliquip adipisicing dolore in labore nisi nostrud laborum dolor quis in magna non dolore et ullamco incididunt qui nulla officia Excepteur consectetur minim eu ullamco dolor exercitation in.
                </p>
            </article>
        </ui-slide>

    </ui-slides>

    </body>
</html>