<!DOCTYPE html>
<html>
    <head>
        <title>Slides Title</title>
        <link rel="import" href="http://localhost:3000/components/presentation/slides">
        <link rel="import" href="http://localhost:3000/components/presentation/slide">
        <script src="http://localhost:3000/javascripts/vendor/polymer-all/polymer/polymer.min.js"></script>
    </head>
    <body>

    <ui-slides>
        <ui-slide>
            <hgroup>
                <h2>My Slide Title</h2>
            </hgroup>
            <article>
                My Slide content
            </article>
        </ui-slide>

        <ui-slide>
            <hgroup>
                <h2>My Slide Title 2</h2>
            </hgroup>
            <article>
                My Slide content
            </article>
        </ui-slide>

    </ui-slides>

    </body>
</html>