@import normalize
@import nib
@import font

html
    font-size  62.5%

body
    font-size 100%
    font-family 'Lato', Arial
    color #323a45

h1,
h2,
h3,
h4,
h5,
h6
    margin 0

h1
    color #323a45
    // font-size 5rem
    font-size: 300%
    font-weight normal
    line-height 1.4
    letter-spacing -.2rem

h2
    color: #5e6d81
    // font-size 2.8rem
    font-weight normal
    letter-spacing -.2rem

h3
    font-size 2.8em
    letter-spacing -.2rem

h4
    color: #a9a9a9
    // font-size: 1.8rem
    letter-spacing -.1rem

h5
    // font-size: 1.3rem


//article
article
    border 1px solid #000
    padding-top 2em

    > footer
        background #424953
        bottom -1px
        height 8vmin
        left 0
        opacity .9
        position absolute
        right 0

    iframe
        border 0

// hgroup
hgroup
    h3
        span
            color #f27935
            font-size .6em
            margin-left .25em
            text-transform uppercase
            word-spacing 3px

            &.large
                font-size 1em

// blockquote
blockquote
    font-size 1em
    margin 1em 2em

    p
        margin 0
        padding 0

    footer
        font-style italic
        margin-left 2em
        text-align left

        p
            margin-top .5em

ul
    margin 0
    padding 0


    li
        margin 0
        padding 0

    &.list li
        position relative
        padding 1em 2em
        border-bottom 1px solid #E6E6E6

    &.browsers
        text-align center

        li
            display inline-block
            font-size 5em
            position relative
            margin 0 .1em
            top -.5em

            &.unsupported:before
                opacity .2

        span
            font-weight bold
            font-size .25em
            position absolute
            right 0
            bottom -.33em
            right -.33em





// responsive
ui-slide.responsive

    p
        color #999

    b
        color #323A45
        font-family 'Open Sans'

    img
        bottom -6vmin
        margin auto
        position absolute
        left -2vmin
        width 100%

// responsive-now
ui-slide.responsive-now
    .orange
        color #f27935

    .flexible
        opacity 1
        border-bottom 0

        .hidden
            opacity 0

        &.ui-slide-item-current,
        &.ui-slide-item-done
            border-bottom 1px solid #E6E6E6

            .item,
            .item2
                opacity 0
                display none

            .hidden
                opacity 1

// responsive-easier
ui-slide.responsive-easier
    span
        color #f27935


// ress
ui-slide.ress
    h3
        span
            color #1fbba6
    article
        img
            bottom 0
            right 0
            left auto




// splash page
ui-slide.splash
    img
        width: 40%

// title slide
ui-slide.title
    p
        color #797979
        line-height 1vmin
    div
        font-size 1.3rem
        margin-top 8vmin

// topic slides
ui-slide.topics
    article

    ul
        -webkit-align-items center
        align-items center
        display -webkit-flex
        display flex
        -webkit-flex-wrap nowrap
        flex-direction row
        -webkit-flex-direction row
        flex-wrap nowrap
        -webkit-justify-content center
        justify-content center
        list-style: none
        margin 0
        padding 0

    li
        float left
        margin 0
        padding 10px
        text-align center
        transition opacity .6s

        &.faded
            opacity .4

        &.scale
            opacity .4

            &.ui-slide-item-current
                opacity 1
                animation grow 0.4s ease-out 1s 1 forwards

            &.ui-slide-item-done
                opacity 1
                transform scale(1.25)

    img
        width 100%

    div
        width: 100%
        height: 100%

    span
        display block
        font-size 1.2rem

@keyframes grow
   0%
        transform scale(1)
   100%
        transform scale(1.25)

